@model IEnumerable<HelperLand.Models.ServiceProviderService>

<div id="Dashboard" class="contant-right ">
    <div>
        <div class="ServiceRequestAlert d-none alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-message"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        <div class="table-head">
            <div style="color: #4f4f4f">
                <input type="checkbox" name="havepet" id="havepetCheck" checked /> Include Pet
                at Home
            </div>
        </div>
        <table id="mytable1">
            <thead style="background-color: #f9f9f9">

                <tr>
                    <th>Service Id <img src="/image/sort.png" alt="short" /></th>
                    <th>Service Date <img src="/image/sort.png" alt="short" /></th>
                    <th class="text-center">Customer Details</th>
                    <th class="text-center">
                        Payment <img src="/image/sort.png" alt="short" />
                    </th>
                    <th class="text-center">Time conflict</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var obj in Model)
                    {
                       
                        int? x = obj.timeConflict != null ? obj.timeConflict : 0;
                    
                        <tr conflict-value="@x" data-value="@obj.ServiceRequestId">
                            <td>@obj.ServiceRequestId</td>
                            <td>
                                <img src="/image/calendar2.png" alt="calendar" />
                                <strong> @obj.ServiceStartDate</strong><span>
                                    <img src="/image/layer-14.png" alt="" /> @obj.startTime - @obj.endTime
                                </span>
                            </td>
                            <td>
                                <div class="address-td-box">
                                    <div style="width: fit-content">
                                        <img src="/image/layer-15.png" alt="cap" />
                                    </div>
                                    <div>
                                        <span>@obj.CustomerName</span>
                                        <span>@obj.CustomerAddress1</span>
                                        <span>@obj.CustomerAddress2</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="payment-td">&#8364; @obj.TotalCost</span>
                            </td>
                            @if (obj.timeConflict != null)
                            {


                                <td><button class="conflict-btn accept-btn bg-danger " data-value="@obj.timeConflict">Confilict</button> </td>


                                <td>
                                    <button class="accept-btn btn disabled">Accept</button>
                                    @if(obj.HavePets == false)
                        {
                            <div class="d-none">nopets</div>
                        }
                                </td>
                            }
                            else
                            {
                              
                                <td> <span class=" completed-label">No Conflict</span></td>


                                <td>
                                    <button data-value="@obj.ServiceRequestId" class="AcceptServiceBtn accept-btn ">Accept</button>
                                    @if (obj.HavePets == false)
                        {
                            <div class="d-none">nopets</div>
                        }
                                </td>

                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>